<!-- NavBar -->
<div class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"> <i class="fa-bars"></i> </span>
      </button>
      <ul id="mob_role_action" class="hidden-md visible-xs nav navbar-nav">
        <%
           role_actions.each do |action|
        %>
            <% if !action.is_a?(Array) %>
                <li>
                  <a class="r_<%= role_name %>" href="<%= action[:path] %>" data-toggle="<%= action[:toggle] %>" data-target="<%= action[:path] %>">
                    <% if action[:path] == '#invite' || action[:path] == '#recommend' %>
                        <span id="invitation_counter" class="badge alert-danger">0</span>
                    <% end %>
                    <i class="<%= action[:icon] %>"></i>
                            <span class="visible-lg">
                              <%= action[:name] %>
                            </span>
                  </a>
                </li>
            <% else %>
                <% action.each do |action_item| %>
                    <li>

                    </li>

                <% end %>
            <% end %>
        <%
           end
        %>
      </ul>

      <%= link_to root_path, class:'brand' do %>
                <span>
                  <span class="r_advertiser_brand">Page</span>
                  <span class="r_publisher_brand">Renter</span>
                </span>
      <% end %>
    </div>

    <!-- TODO REFACTORAR! Esse mesmo foreach ta rolando 2x.... -->
    <ul id="role_action" class="hidden-xs nav navbar-nav">
      <%
         # TODO: REFACTORAR! Esse mesmo foreach ta rolando 2x....
         role_actions.each do |action|
           if action.is_a?(Array)
             action_array = action
             action = action_array.first
           end
      %>
          <li>
            <a class="r_<%= role_name %>" href="<%= action[:path] %>" data-toggle="<%= action[:toggle] %>" data-target="<%= action[:path] %>">
              <% if action[:path] == '#invite' || action[:path] == '#recommend' %>
                  <span id="invitation_counter" class="badge alert-danger">0</span>
              <% end %>
              <%if action_array.nil?%>
                <i class="<%= action[:icon] %>"></i>
              <%else%>
                <img src="/assets/app/pie_chart.png" class="action_pie_chart"/>
              <%end%>
                        <span class="visible-lg">
                          <%= action[:name] %>
                        </span>
            </a>
          </li>
          <% unless action_array.nil? %>
              <% action.each do |action_item| %>
                  <!-- TODO fazer menubar come esses subitens -->
              <% end %>
          <% end %>
      <%
         end
      %>
    </ul>

    <div class="collapse navbar-collapse">
      <ul id="user_action" class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle r_<%=role_name%>" data-toggle="dropdown" href="#">
            <i class="fa <%=role_icon%>"></i>
            <%= @current_user.get_default_profile.name %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <%
               @current_user.profiles.each do |profile|
            %>
                <li>
                  <a class="r_<%=profile.role.name%>" href="/<%= profile.role.name.pluralize %>">
                    <i class="fa <%=role_icon(profile.role.name)%>"></i>
                    <%= profile.name %>
                  </a>
                </li>
            <%
               end
            %>
            <li class="divider"></li>
            <li><a class="r_publisher manage" href="/publishers/edit"> <i class="fa fa-rocket"></i> <i class="fa fa-gears"></i> <span> <%= t(:user_action)[:dropdown][:manage_pub] %> </span> </a></li>

            <li><a class="r_advertiser manage" href="/advertisers/edit"> <i class="fa fa-bullhorn"></i> <i class="fa fa-gears"></i> <span> <%= t(:user_action)[:dropdown][:manage_adv] %> </span> </a></li>
            <!-- Global Actions Divider -->
            <li class="divider"></li>
            <li><a data-method="delete" href="/users/sign_out" class="error_txt"> <i class="fa fa-power-off"></i> Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>