<p>
  <strong>Name:</strong>
  <%= @ad.name %>
</p>

<p>
  <strong>Redirect link:</strong>
  <%= @ad.redirect_link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Social phrase:</strong>
  <%= @ad.social_phrase %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<img src="<%= @ad.avatar.url %>" />
<%= image_tag @ad.avatar.url(:medium) %>
<%= image_tag @ad.avatar.url(:thumb) %>