<%= javascript_include_tag 'campaigns' %>
<div id="advertiser_update">
    <form accept-charset="UTF-8" action="/advertisers/update" class="form-horizontal col-md-6" enctype="multipart/form-data" id="" method="post">
        <div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="patch"><input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"></div>
        <center id="choose_file_section">
            <input id="advertiser_avatar" name="advertiser[avatar]" onchange="show_campaign_image(this)" type="file" value="<%=@advertiser.name%>">
        </center>

        <div class="field form-group">
            <label for="advertiser_name">Name</label><br>
            <input class="form-control" id="advertiser_name" name="advertiser[name]" placeholder="Nome/Título para esta sessão" type="text" value="<%= @advertiser.name_if_updated %>">
        </div>

        <div class="actions">
            <input class="btn btn-primary" name="commit" type="submit" value="update">
        </div>
    </form>

    <aside id="new_campaign_right" class="col-md-6">
      <p>Logo (Tamanhos permitidos: 100×15 ou 300x75. <strong>Otimizado para: 100x15</strong>)</p>
      <div id="adv_image_content">
        <center>
          <% # TODO @advertiser.avatar.url(:thumb) %>
          <!--
            <img id="new_campaign_image" src="<%=  %>"/>
          -->
        </center>
      </div>
    </aside>
</div>
