<!-- Feedback/ContactUs -->
<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel"> <%= t(:user_feedback)[:title] %> </h2>
      </div>
      <div class="modal-body">
        <aside class="modal_body_left">
          <label for="feedback_msg"> <%= t(:user_feedback)[:feedback_msg_label] %> </label>
          <textarea name="feedback_msg" id="feedback_msg" class="form-control" rows="3" placeholder="<%= t(:publisher_invite)[:invite_form][:message_placeholder] %>"></textarea>
        </aside>

        <aside class="modal_body_right">
          <center><h4> <%= t(:user_feedback)[:title_explanation] %> </h4></center>
          <ul id="feedback_types" class="benefits">
            <li>
              <strong>?</strong> <%= t(:user_feedback)[:subtitle_explanation_1] %>:
              <ul class="sub_benefits">
                <li class="important_text"> <%= t(:user_feedback)[:improve_question_1] %>; </li>
                <li> <%= t(:user_feedback)[:improve_question_2] %>; </strong> </li>
              </ul>
            </li>
            <li>
              <strong> <i class="fa fa-bolt"></i> </strong> <%= t(:user_feedback)[:subtitle_explanation_2] %>:
              <ul class="sub_benefits">
                <li class="important_text"> <%= t(:user_feedback)[:improve_criticism_1] %>; </li>
                <li> <%= t(:user_feedback)[:improve_criticism_2] %>; </li>
              </ul>
            </li>
            <li>
              <strong> <i class="fa fa-lightbulb-o"></i> </strong> <%= t(:user_feedback)[:subtitle_explanation_3] %>:
              <ul class="sub_benefits">
                <li class="important_text"> <%= t(:user_feedback)[:improve_suggestion_1] %>; </li>
                <li> <%= t(:user_feedback)[:improve_suggestion_2] %>; </li>
              </ul>
            </li>
            <li>
              <strong> <i class="fa fa-thumbs-o-up"></i> </strong> <%= t(:user_feedback)[:subtitle_explanation_4] %>:
              <ul class="sub_benefits">
                <li class="important_text"> <%= t(:user_feedback)[:improve_cheer_1] %>; </li>
                <li> <%= t(:user_feedback)[:improve_cheer_2] %>; </li>
              </ul>
            </li>
          </ul>

          <!-- TODO IMG que lembre melhorias e outra com parcerias -->
          <!-- TODO TXT explicando sobre: Melhorias com o advento do FeedBack; Parceirias que estamos dispostos a fechar... -->
        </aside>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> <%= t(:btn_modal_close) %> </button>
        <button type="button" class="btn <%= current_button %>"> <%= t(:btn_modal_okay) %> </button>
      </div>
    </div>
  </div>
</div>
<!-- /Feedback/ContactUs -->