<h1>Listing campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lançamento</th>
      <th>Encerramento</th>
      <th>Criador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <!-- TODO
        COLOCAR AQUI OS BOTÕES DE >>>>>CRIAR Ad<<<<<< e o de CONFIGURAR >>>>CICLO DE VIDA<<<< DA CAMPANHA e >>>>ORÇAMENTO<<<!!
  -->
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= format_date(campaign.launch_date) %></td>
        <td><%= format_date(campaign.end_date) %></td>
        <td><%= campaign.advertiser.name %></td>
        <td><%= link_to 'Show', campaign %></td>
        <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_campaign_path %>
