<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Start date (launch):</strong>
  <%= @campaign.launch_date.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>End date (finish):</strong>
  <%= @campaign.end_date.strftime('%d/%m/%Y') %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
