<%= form_for(@transaction, :html=>{id: 'new_transaction', class: 'form-horizontal col-md-3'}) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :banking %><br>
    <%= f.check_box :banking %>
  </div>
  <div class="field">
    <%= f.label :payment_method_id %><br>
    <%= f.text_field :payment_method_id %>
  </div>
  <div class="field">
    <%= f.label :payer_id %><br>
    <%= f.text_field :payer_id %>
  </div>
  <div class="field">
    <%= f.label :receiver_id %><br>
    <%= f.text_field :receiver_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
