<!-- RecommendModal -->
<div class="modal fade" id="recommend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel"> <%= t(:advertiser_recommend)[:title] %> </h2>
      </div>
      <div class="modal-body">
        <aside class="modal_body_left">
          <%= render 'layouts/socialbuttons' %>

          <form>
            <div class="form-group">
              <label for="recommend_email"> <%= t(:advertiser_recommend)[:recommend_form][:email_label] %>: </label>
              <input id="recommend_email" type="text" name="email" class="form-control" placeholder="<%= t(:advertiser_recommend)[:recommend_form][:email_placeholder] %>"/>
            </div>

            <div class="form-group">
              <label for="recommendation_msg"> <%= t(:advertiser_recommend)[:recommend_form][:msg_label] %>: </label>
              <textarea name="recommendation_msg" id="invitation_msg" class="form-control" rows="3" placeholder="<%= t(:advertiser_recommend)[:recommend_form][:msg_placeholder] %>"></textarea>
            </div>
          </form>

          <strong><%= t(:advertiser_recommend)[:recommend_form][:recommendation_code_label] %>: </strong> <span> 5f5a3806eadc5fdb50310a631c3cf610 </span>
        </aside>

        <aside class="modal_body_right">
          <center> <%=image_tag('partners_shaking_hands.jpeg')%> </center>
          <div class="explanations">
            <center> <strong> <%= t(:publisher_invite)[:invite_explanation][:subtitle] %> </strong> </center>
            <ul class="benefits">
              <li> <%= t(:advertiser_recommend)[:recommend_explanation][:benefit_1] %>;</li>
              <li> <%= t(:advertiser_recommend)[:recommend_explanation][:benefit_2] %>;</li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> <%= t(:btn_modal_close) %> </button>
        <button type="button" class="btn <%= current_button %>"> <%= t(:btn_modal_okay) %> </button>
      </div>
    </div>
  </div>
</div>
<!-- /RecommendModal -->