<!DOCTYPE html>
<html>
    <head>
      <meta charset='utf-8'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />

      <title>PageRenter</title>
      <link rel="stylesheet" href="/assets/style.css"/>

      <script src='/assets/modernizr.min.js'></script>

      <!-- jQuery -->
      <script src='/assets/jq/jq.min.js'></script>
      <!-- /jQuery -->

      <!-- Angular -->
      <script src="/assets/angular/angular.min.js"></script>
      <script src='/assets/angular/angular-touch.min.js'></script>
      <script src="/assets/angular/angular-sanitize.min.js"></script>
      <!-- /Angular -->

      <!-- Meus scripts -->
      <script src='/assets/app_initialize.js'></script>
      <!-- /Meus -->
      <%= csrf_meta_tags %>
    </head>
    <body class="r_<%=role_name%>">

        <!-- NavBar -->
        <div class="navbar navbar-custom navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"> <i class="fa-bars"></i> </span>
              </button>

              <a id="brand" href="/"><span> <span class="r_advertiser_brand">Page</span><span class="r_publisher_brand">Renter</span> </span></a>
            </div>
            <div class="collapse navbar-collapse">
              <ul id="role_action" class="nav navbar-nav">
                <%
                   role_actions.each do |action|
                %>
                    <li>
                      <a class="r_<%= role_name %>" href="<%= action[:path] %>" data-toggle="<%= action[:toggle] %>" data-target="<%= action[:path] %>"> <i class="<%= action[:icon] %>"></i> <%= action[:name] %> </a>
                    </li>
                <%
                   end
                %>
              </ul>

              <ul id="user_action" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a class="dropdown-toggle r_<%=role_name%>" data-toggle="dropdown" href="#"> <i class="fa <%=role_icon%>"></i> Raylen Jorge <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                        <li><a class="r_publisher" href="/users/edit"> <i class="fa fa-rocket"></i> Raylen Jorge </a></li>
                        <li><a class="r_advertiser" href="/users/edit"> <i class="fa fa-bullhorn"></i> ZeroPaper </a></li>
                    <li class="divider"></li>
                         <li><a class="r_publisher manage" href="/users/edit"> <i class="fa fa-rocket"></i> <i class="fa fa-gears"></i> <span> Manage Publisher </span> </a></li>

                        <li><a class="r_advertiser manage" href="/users/edit"> <i class="fa fa-bullhorn"></i> <i class="fa fa-gears"></i> <span>Manage Company</span> </a></li>
                    <!-- Global Actions Divider -->
                    <li class="divider"></li>
                        <li><a data-method="delete" href="/users/sign_out" class="error_txt"> <i class="fa fa-power-off"></i> Sair</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="container box">
            <header>
                <h1 class="r_<%=role_name%>"> <i class="fa <%=role_icon%>"></i> <%=role_name%> </h1>
            </header>
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Welcome!</strong> You have been registered success successfully.
            </div>

            <%= yield %>
        </div>

        <%= render 'layouts/invite' %>
        <%= render 'layouts/recommend' %>
        <%= render 'layouts/feedback' %>

        <footer id="includes_js">
            <!-- Bootstrap -->
            <script src='/assets/bootstrap/bootstrap.min.js'></script>
            <!-- /Bootstrap -->
        </footer>
    </body>
</html>
