<!DOCTYPE html>
<html>
    <head>
      <meta charset='utf-8'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />

      <title>PageRenter</title>
      <link rel="stylesheet" href="/assets/style.css"/>

      <script src='/assets/modernizr.min.js'></script>

      <!-- jQuery -->
      <script src='/assets/jq/jq.min.js'></script>
      <!-- /jQuery -->

      <!-- Angular -->
      <script src="/assets/angular/angular.min.js"></script>
      <script src='/assets/angular/angular-touch.min.js'></script>
      <script src="/assets/angular/angular-sanitize.min.js"></script>
      <!-- /Angular -->

      <!-- Meus scripts -->
      <script src='/assets/app_initialize.js'></script>
      <!-- /Meus -->
      <%= csrf_meta_tags %>
    </head>
    <body class="r_<%=role_name%>">

        <!-- NavBar -->
        <div class="navbar navbar-custom navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"> <i class="fa-bars"></i> </span>
              </button>

              <a id="brand" href="/"><span> <span class="r_advertiser_brand">Page</span><span class="r_publisher_brand">Renter</span> </span></a>
            </div>
            <div class="collapse navbar-collapse">
              <ul id="role_action" class="nav navbar-nav">
                <%
                   role_actions.each do |action|
                %>
                    <li>
                      <a class="r_<%= role_name %>" href="<%= action[:path] %>" data-toggle="<%= action[:toggle] %>" data-target="<%= action[:path] %>"> <i class="<%= action[:icon] %>"></i> <%= action[:name] %> </a>
                    </li>
                <%
                   end
                %>
              </ul>

              <ul id="user_action" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a class="dropdown-toggle r_<%=role_name%>" data-toggle="dropdown" href="#"> <i class="fa <%=role_icon%>"></i> Raylen Jorge <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                        <li><a class="r_publisher" href="/users/edit"> <i class="fa fa-rocket"></i> Raylen Jorge </a></li>
                        <li><a class="r_advertiser" href="/users/edit"> <i class="fa fa-bullhorn"></i> ZeroPaper </a></li>
                    <li class="divider"></li>
                         <li><a class="r_publisher manage" href="/users/edit"> <i class="fa fa-rocket"></i> <i class="fa fa-gears"></i> <span> Manage Publisher </span> </a></li>

                        <li><a class="r_advertiser manage" href="/users/edit"> <i class="fa fa-bullhorn"></i> <i class="fa fa-gears"></i> <span>Manage Company</span> </a></li>
                    <!-- Global Actions Divider -->
                    <li class="divider"></li>
                        <li><a data-method="delete" href="/users/sign_out" class="error_txt"> <i class="fa fa-power-off"></i> Sair</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="container box">
            <header>
                <h1 class="r_<%=role_name%>"> <i class="fa <%=role_icon%>"></i> <%=role_name%> </h1>
            </header>
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Welcome!</strong> You have been registered success successfully.
            </div>

            <%= yield %>
        </div>

        <!-- InviteModal-->
        <div class="modal fade" id="invite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title" id="myModalLabel"> <%= t(:publisher_modal_invite)[:title] %> </h2>
              </div>
              <div class="modal-body">
                <div>
                    <aside class="modal_body_left">
                      <button class="btn btn-facebook"> <i class="fa fa-facebook"></i> | Invite using facebook </button>

                      <form>
                        <div class="form-group">
                          <label for="email">E-mail:</label>
                          <input id="email" type="text" name="email" class="form-control" placeholder="Friend e-mail"/>
                        </div>

                        <div class="form-group">
                          <label for="msg">Message:</label>
                          <textarea name="msg" id="msg" class="form-control" rows="3" placeholder="Message to your friend"></textarea>
                        </div>
                      </form>

                      <strong>Invitation code: </strong> <span> 5f5a3806eadc5fdb50310a631c3cf610 </span>
                    </aside>

                    <aside class="modal_body_right">

                    </aside>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn <%= current_button %>">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /InviteModal -->

        <!-- RecommendModal -->
        <div class="modal fade" id="recommend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel"> <%= t(:advertiser_modal_recommend)[:title] %> </h2>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn <%= current_button %>">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /RecommendModal -->

        <footer id="includes_js">
            <!-- Bootstrap -->
            <script src='/assets/bootstrap/bootstrap.min.js'></script>
            <!-- /Bootstrap -->
        </footer>
    </body>
</html>
